{% extends "backlayout.twig" %}

{% block title %}Ajouter un article{% endblock %}

{% block inner_content %}	
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Administration</a>
        </li>
        <li class="breadcrumb-item active">Ajouter un article</li>
      </ol>

	<div style="padding : 20px">
		<h1>Ajouter un article</h1>

		<form method="post" action="?addpost">
		  <div class="form-group">
		    <label for="post-title">Titre</label>
		    <input type="text" class="form-control" id="postTitle" name="postTitle" aria-describedby="post-title" placeholder="Titre de l'article">
		  </div>

		    <div class="form-group">
			    <label for="post-chapo">Chapô</label>
			    <input type="text" class="form-control" id="postChapo" name="postChapo" aria-describedby="post-chapô" placeholder="Texte du Chapô">
			    <small id="chapoHelp" class="form-text text-muted">Texte court qui résume votre article.</small>
		  	</div>

		    <div class="form-group">
			    <label for="post-content">Texte</label>
			    <input type="text" class="form-control" id="postContent" name="postContent" aria-describedby="post-chapô" placeholder="Votre texte">
		  	</div>

		  <button type="submit" class="btn btn-primary">Poster</button>
		</form>

	</div>

{% endblock %}
