{% extends "backlayout.twig" %}

{% block inner_content %}
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Administration</a>
        </li>
        <li class="breadcrumb-item active">Liste des articles</li>
      </ol>
      <h1>Articles</h1>
		{% for postList in postsList %}
			<div style="padding : 20px">
				<div style="border:2px solid; border-radius: 5px; padding : 10px; width : 80%">
				    <h2>{{ postList.postTitle }}</h2>
				    <p>{{ postList.creation_date_fr }}</p>
				    <ul>
				    	<li><a href="#">Modifier</a></li>
				    	<li><a href="#">Supprimer</a></li>
				    	<li><a href="#">Dépublier</a></li>
				    </ul>
				</div>
			</div>
		{% endfor %}
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
