<form method="post" action="../comment/newcomment?id={{ idPost }}">
  <div class="form-group">
    <label for="post-title">Pseudo</label>
    {% if session.pseudo is defined %}
   		<input type="text" class="form-control" id="commentPseudo" name="commentPseudo" value="{{session.pseudo}}" aria-describedby="commentPseudo" />
    {% else %}
    	<input type="text" class="form-control" id="commentPseudo" name="commentPseudo" aria-describedby="commentPseudo" placeholder="Votre pseudonyme">
    {% endif %}
  </div>

    <div class="form-group">
	    <label for="post-content">Votre commentaire</label>
	    <textarea class="form-control" id="commentContent" name="commentContent" aria-describedby="commentContent"></textarea>
  	</div>

	<div class="g-recaptcha" data-sitekey="6LcXL0EUAAAAADF9IEJp1icrykq7unzRIRPsXA4v"></div>

  <button type="submit" class="btn btn-primary">Poster</button>
	
  <input type="hidden" name="token" id="token" value="{{ session.token }}" />
</form>