{% extends "front_layout.twig" %}

{% block content %}

  <form method="post" action="/blog/contact/contactform">
    <div class="form-group">
      <label for="contactName">Nom</label>
      {% if session.pseudo is defined %}
     		<input type="text" class="form-control" id="contactName" name="contactName" value="{{session.pseudo}}" aria-describedby="contactName" />
      {% else %}
      	<input type="text" class="form-control" id="contactName" name="contactName" aria-describedby="contactName" placeholder="Votre nom">
      {% endif %}
    </div>

      <div class="form-group">
        <label for="contactMail">Email</label>
        <input type="email" class="form-control" id="contactMail" name="contactMail" aria-describedby="contactMail" placeholder="votreadresse@mail.com" />
      </div>

      <div class="form-group">
        <label for="contactMessage">Objet</label>
        <input class="form-control" id="contactSubject" name="contactSubject" aria-describedby="contactSubject"></textarea>
      </div>

      <div class="form-group">
  	    <label for="contactMessage">Votre message</label>
  	    <textarea class="form-control" id="contactMessage" name="contactMessage" aria-describedby="contactMessage"></textarea>
    	</div>

  	<div class="g-recaptcha" data-sitekey="6LcXL0EUAAAAADF9IEJp1icrykq7unzRIRPsXA4v"></div>

    <button type="submit" class="btn btn-primary">Poster</button>
  	
    <input type="hidden" name="token" id="token" value="{{ session.token }}" />
  </form>

{% endblock %}
